<footer class="container">
  <hr class="my_1">
  <small>
    <a href="https://github.com/JeongDaHye">DaHye's github</a>
    <a href="https://likelion.net">likelion</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to 'About', '#'%></li>
      <li><%= link_to 'Contact', '#'%></li>
      <li><%= link_to 'Log in', new_user_session_path%></li>
    </ul>
  </nav>
  </hr>
</footer>